*{
	z-index: 1;
}
body{
	background-image: url('images/background1.jpg');
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

header{
	display: flex;
	color: white;
	justify-content: space-between;
	padding: 25px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	transition: padding 0.4s, background 0.4s;
	background: rgba(73, 21, 89, 0.952941);
    padding: 0px;
    box-shadow: rgb(73, 21, 89) 0px 1px 2px;
	/*box-shadow: 2px 2px 2px #777;*/
	position: fixed;
}

header .navbar-collapse{
	padding-right: 0;
}

header > nav{
	background: transparent !important;
	width: 100%;
	border: none;
}

.active-tab{
	background-color: rgba(141,67,178,0.4);
}

a{
 text-decoration: none;
}
.talk-to-us-btn{
	display: inline-block;
	position: absolute;
    right: 750px;
    margin-top: 3px;
    margin-right: 10px;
}
@keyframes btnWiggle{
	0%{-webkit-transform:rotate(0)}
	2%{-webkit-transform:rotate(-3deg)}
	3.5%{-webkit-transform:rotate(3deg)}
	100%,5%{-webkit-transform:rotate(0)}
}

.talk-to-us-btn button{
	background-color: #FD5426;
	border-color: #FF0C0C;
    animation: btnWiggle 4s infinite;
}
#header-filler{
	height: 40px;
}

/*footer{
	background-color: #333;
	color: white;
	padding: 20px 0;
}*/

#contact-us-flyer{
	position: fixed;
	right: -32px;
	transform: rotate(270deg);
	padding: 12px 12px 6px 12px;
	background: linear-gradient(#eee,#ccc);
	border-radius: 4px 4px 0 0;
	font-size: 12px;
	font-weight: bold;
	top: 30vh;
	z-index: 3;
}
.contactus-fixed{
	position: fixed;
	bottom: 4px;
	left: 0;
	z-index: 4;
}
.mobile-modal{
	margin: auto;
	width: 290px !important;
}
.modal-content{
	width: 210px;
	box-shadow: none;
}
.modal-content-open {
	top: 40px;
    position: fixed;
    z-index: 3;
    float: left;
    right: -210px;
    transition : right 1s;
    right : 0px;
    box-shadow: 0px 0px 18px;
}
.contactus-fixed{
	display: none;
}
.vm-contactus-sidebar-open {
	position: fixed;
    top: 72px;
    transition : right 1s;
    right : 0px;
    z-index: 3;
    right : 210px;
}

.modal-content-close {
	top: 40px;
    position: fixed;
    z-index: 3;
    float: left;
    right: 0px;
    transition : right 1s;
    right: -210px;
}

.vm-contactus-sidebar-close {
	position: fixed;
    top: 72px;
    right: 210px;
    z-index: 3;
    transition: right 1s;
    right : 0px;
}
.modal-header{
	background-color: #5c3a90;
	color: white;
}
.modal-footer input[type="submit"]{
	background-color: #5c3a90;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: white;
}

.vm-contactus-sidebar img{
	width: 33px;
}

.theme-gradient-color{
	/*font-size: 72px;*/
  	background: -webkit-linear-gradient(#58259c, #a91ccd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-title{
	font-size: 25px;
	/*font-family: "Bradley Hand";*/
	/*font-family: 'Bradley Hand';*/
	font-weight: 300;
	padding-left: 15px;
	float: left;
}
header nav.navbar{
	min-height: initial;
	margin-bottom: 0px;
	border: none;
}
.navigation-tabs{
	float: right;
}
.navigation-tabs a{
	text-decoration: none;
	color: white;
}
.navigation-tabs div, .navigation-tabs a{
	text-align: center;
	width: 78px;
	line-height: 40px;
	font-size: 14px;
	/*font-family: avenir;*/
	font-weight: 500;
	display: inline-block;
	transition: background-color 0.5s;
}

.navigation-tabs div:hover{
	background-color:  rgba(141,67,178,0.4);
	cursor: pointer;
}

.contact-info{
	width: 350px !important;
	background-color: rgba(255,255,255,0.2);
}

/*footer css*/
footer{
	background-color: #232323;
	font-size: 14px !important; 
	/*font-family: "Open Sans", Arial, sans-serif !important;*/
	text-align: left;
}
.foot_contact{
	padding: 0 16px;
}
.contact_foot{ 
	background: #424141; 
	margin: 40px 0 40px;
}
.clearboth:after{
	content: ""; display: block; 
	height: 0; 
	clear: both;
}
.col_12{
	float: left; 
	width: 12%;
}
.col_23{
	float: left; 
	width: 23%;
}
.col_20{
	float: left;
	width: 20%;
}
.col_25{
	float: left;
	width: 25%;
}
.childclass > div{
	padding: 25px 0;
}

.footer h4{
	font-size: 1em;
	margin-bottom: 2px !important;
	text-transform: uppercase;
	line-height: 27px;
}
.blue_text {    
	color: #47A9E8 !important;
}
.bold_text{
	font-weight: bold;
}

.footer_links{
	padding: 40px 0px; 
	background: #3C3C3C;
}
.home_footer_links{
	padding-bottom: 6px !important;
}
.footer_menu{
	padding:0;
	margin: 0;
	list-style: none;
}
.footer_menu li, .contact_list li{
	padding-bottom: 5px;
	list-style-type: none; 
	font-size: 1em;
	display: block;  
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.5 !important;
	color: #b7b7b7 !important;
}
.footer_menu a{
	color: #b7b7b7;
	font-family: "Open Sans", Arial, sans-serif !important;
	font-weight: normal;
}
.footer_menu a:hover, .contact_list a:hover, .footer_menu a:focus, .contact_list a:focus{
	color: #47A9E8; 
	text-decoration: none;
}
.c_head {
	position: relative;
}
.con_head{ 
	position: absolute;
	background: #333;
	width: 70%; 
	left: 0; 
	top: 0; 
	bottom: 0; 
	line-height: 1.2; 
}
.con_head:before{
	position: absolute;
	content: "contact \A us";
	font-size: 16px;
	text-align: center; 
	text-transform: uppercase;
	color:#5FB2E9; 
	top: 50%; 
	left: 17px;
	text-align: center;   
	-webkit-transform: translateY(-50%);   
	-moz-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);   
	transform: translateY(-50%);
}
.con_head:after{
	background : url(./images/side_contact.png) no-repeat center; 
	position: absolute; 
	right: -24px;   
	content: "";
	width: 29px; 
	top: 0; 
	bottom: 0; 
	background-position: center; 
}
.con_head{
	white-space:pre;
}
.footer_links p{
	text-align: inherit !important;
}
.footer p:first-child{
	margin-bottom: 5px;
	font-family: inherit;
}
.footer p{
	color: #b7b7b7 !important;
	line-height:24px;
	margin: 0;  
	font-size: 1em !important;
	font-family: "Open Sans", Arial, sans-serif !important;
}
.contact_list, .contact_list a{
	padding: 0; 
	margin: 0; 
	color: #b7b7b7;
}

.contact_list .fa{
	color: #47A9E8;
}

#thanks-message{
	display: none;
}

@media (max-width: 1200px){
	footer .childclass > div:first-child{
		display: none;
	}
	.childclass>div {
		padding: 25px 10px;
		width: 25%;
	}
}
@media (max-width: 1024px){
	header .contact-info{
		display: none;
	}
	.childclass>div {
	    padding: 0;
	    width: 50%;
	}
	.talk-to-us-btn{
	    right: 400px;
	}
}

@media (max-width: 767px){
	.vm-contactus-sidebar{
		display: none;
	}
	.contactus-fixed{
		display: block;
	}
	header{
		position: fixed;
	}
	.header-title{
		padding-top: 5px; 
	}
	.navigation-tabs{
		float: none;
	}
	header .navbar-collapse{
		border-color: #673576 !important;
		padding: 0;
	}
	.navigation-tabs div{
		display: block;
		width: 100%;
	}
	header .contact-info{
		display: none;
	}
	#header-filler {
	    height: 0px;
	}
	#contact-us-flyer {
		display: none;
	}
	.talk-to-us-btn{
	    right: 70px;
	    margin-top: 8px; 
	}

}

@media (max-width: 600px){
	.header-title {
		font-size: 21px;
		margin-top: 5px;
	}
	.childclass>div {
	    padding: 0;
	    width: 100%;
	}
}
