/*************************************/
	/* Home Page css*/
/*************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

#tagline{
	margin-top: 60px;
	color: white;
	font-size: 35px;
	padding: 0 20%;
}

.focus-text{
	font-weight: bold;
	color: violet;
}

.tagline-subhead{
	font-size: 16px;
	line-height: 20px !important;
}

#features{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 200px;
	font-family: arial;
	color: #777;
	font-size: 13px;
}

#features > div{
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: white;
	width: 50%;
	padding: 40px 40px 40px 60px;
	text-align: justify;
	border-bottom: 1px dotted #ddd;
	border-right: 1px dotted #ddd;
}

#features > div >div{
	margin-top: 32px;
}

#features > div i{
	/*background-color: rgba(255,255,255,0.9);*/
	font-size: 30px;
}

/*#features > div > p{
	
}*/

.feature-head{
	font-size: 25px;
	font-weight: 500;
	text-align: left;
	color: #5c3a90;
}

.feature-subhead{
	/*margin-top: 30px;*/
	font-size: 17px;
	text-align: left;
	color: #5c3a90;
	/*font-weight: bold;*/
	margin-bottom: 0px !important;
}

.feature-subtext{
	margin-top: 7px;
	font-size: 15px;
}

.icon-div{
	text-align: center;
}


#crm{
	padding: 60px 0;
	background: white;
}

#crm-head{
	font-size: 30px;
	font-weight: 600;
	color: #5c3a90;
}


#crm-contents{
	display: flex;
	align-items: center;
}

.crm-image-container{
	width: 35%;
	padding: 50px;
}

.crm-details{
	width: 65%;
}

.crm-item{
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: left;
	font-size: 15px;
	color: #777;
	text-align: justify;
	padding-right: 100px;
	/*font-family: arial;*/
}

.crm-item i{
	font-size: 30px;
}

.crm-item > div:nth-child(1){
	text-align: center;
	padding-top: 8px;
} 

.crm-subhead{
	color: #5c3a90;
	font-size: 17px;
	text-align: left;
}

.tile{
	display: flex;
	padding: 120px 0;
	align-items: center;
}

.img-container{
	width: 35%;
}
.text-container{
	width: 65%;
	text-align: justify;
}
.text-container i{
	font-size: 30px;
}
.text-container div{
	font-size: 15px;
	color: #666;
	margin-top: 15px;
}
.section-warpper{
	background: white; 
	margin-top: 200px;
}

.section-warpper .tile:nth-child(even){
	flex-direction: row-reverse;
}

.section-warpper .tile:nth-child(odd) .text-container{
	padding: 0px 120px 0px 60px;
}

.section-warpper .tile:nth-child(even) .text-container{
	padding: 0px 60px 0px 120px;
}

.section-warpper > section:nth-child(even){
	background: #f9f9f9;
}

.tile img{
	width: 100%;
}
.am-subtext{
	font-size: 15px !important;
}


#rocket-img{
	/*animation : flyIn 2.7s;*/
}


@keyframes flyIn{
	0%  {margin-left: -2000px; margin-bottom: -1000px; width: 100px; height: 30px;}
	40%  {margin-left: -500px; margin-bottom: 0px; transform: rotate(25deg); margin-top:0; width: 180px; height: 100px;}
	50%  {margin-left: 0px; margin-bottom: 0px; transform: rotate(25deg); margin-top:0;}
	/*60% {margin-left: 500px; margin-bottom: 0px;}*/
	/*100% {margin-left: 2000px; margin-top:-1100px;}*/
}



@media (max-width: 767px) {
	#tagline {
		margin-top: 110px;
	}
	.section-warpper .tile:nth-child(even){
		flex-direction: column-reverse;
	}
	.section-warpper .tile:nth-child(odd){
		flex-direction: column-reverse;
	}
	/*.section-warpper .tile .text-container{
		padding: 20px 0px 0px 0px !important;
	}*/

	.section-warpper .tile:nth-child(odd) .text-container{
		padding: 20px 15px 0px 15px;
		margin: 0;
		text-align: center;
	}

	.section-warpper .tile:nth-child(even) .text-container{
		padding: 20px 15px 0px 15px;
		margin: 0;
		text-align: center;
	}
	.section-warpper .tile .img-container{
		padding: 20px 0px 0px 0px !important;
		width: 100%;
	}
	.feature-head {
		text-align: center
	}
	.feature-subhead {
		text-align: center
	}
	#crm #crm-contents .crm-details {
		width: 100%;
		/*flex-direction: row;*/
	}

	#crm #crm-contents .crm-image-container {
		width: 100%;
		text-align: center;
		padding : 30px 20px 0px 20px;
		/*flex-direction: row;*/
	}
	#crm #crm-contents .crm-image-container .img-responsive {
		margin: auto;
	}
	#crm-contents {
		flex-direction: column-reverse;
		text-align: center;
	}
	#crm p{
		text-align: center !important;
	}
	.tile {
		margin-bottom: 0px;
	}
	.text-container {
		width:100%;
	}
	#tagline {
	    font-size: 20px;
	    padding: 0 0%;
	}
	.tagline-subhead {
	    font-size: 12px;
	}
	.padding-top-0 {
		padding-top: 0px !important;
	}
	.tile{
		padding: 60px 0;
	}
	.crm-item {
		padding-left:0px;
		padding-right: 0px;
	}
}