/*************************************/
	/* Technology Page css*/
/*************************************/
.mean-stack-section{
	color: black;
	background-color: white;
	
	overflow:auto;
	margin-top: 30px;
}
.control-para{
	text-align: justify;
	padding: 12px;
	font-family: serif;
	font-size: 15px;
}
.main-image-border{
	border:solid #dee0e2 2px;
}
.main-image-div{
	margin-top: 70px;
}
.style-section{
	border:solid #dee0e2 2px;
	margin: 10px 0px 10px 0px;
	padding: 20px;
}
.style-image{
	/*padding: 20px;*/
	/*border:solid #dee0e2 2px;*/
	/*border-radius: 0px 20px 0px 20px;*/
}
.style-features{
	/*background-color: #999;*/
	padding: 20px;
}
.style-text{
	/*padding: 10px;*/
	font-size: 15px;
	text-align: justify;
	font-family: serif;

}
.img-control-div{
	padding: 10px 88px;
    text-align: center;
}
.my-image{
	height: auto;
	width: 100%;
	max-width: 350px;
}

h3{
	text-align: center;
}

.back{
	background-color: white;
}
.unify-color{
	color: #a91ccd;
}

.mn-mean-stack-content li{
	height: 50px;
	color: #777;
}

.technology .tile{
	display: flex;
	padding: 60px 0;
	align-items: center;
}

.technology .tile img{
	
	padding: 45px;
}

.technology >section:nth-child(1) img{
	padding: 0px;

}

.technology .feature-head{
	text-align: center;
}
#sub-heading{
	text-align: center;
}
#sup-heading{
	text-align: center;
	margin-top: 60px;
	font-weight: bold;
}
.section-warpper.technology{
	margin-top: 20px;
}
.technology-head{
	text-align: center;
	font-size: 30px;
	margin-top:80px; 
	font-weight: bold;
	font-family: serif;
	color: #666;
	letter-spacing: 5px;
	margin-bottom: 50px;
}

.technology-head img{
	margin-bottom: 20px;
	margin:auto; 
}
@media screen and (max-width: 600px) {
    .style-text {
        /*background-color: lightblue;*/
        font-size: 20px;
        /*color: red;*/
    }
    .img-control-div{
    	padding: 30px;	
    }
    .mean-stack-section{
    	font-size: 20px;
    	padding: 5px;
    	margin-top: 5px;
    }
    .main-image-div{
    	margin-top: 15px;
    }
    .control-para{
    	font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
     .technology .tile img{
          padding: 0px;
      }

}

@media screen and (max-width: 767px) {
	 .container-fluid.back {
	 	margin-top: 50px;
	 }
     .technology .tile{
          flex-direction: column-reverse;
      }

     .section-warpper .tile:nth-child(even) {
          flex-direction: column-reverse !important;
      } 

     .section-warpper .tile .text-container{
       padding: 0px !important;
     }

     .img-container{
     	width: 70% !important;
     }

     .text-container{
	    width: 90% !important;
     }

     .technology ul{
     	padding-left: 15px !important;
     }
     .technology-head{
     	font-size: 20px;
     }
}

@media screen and (max-width: 600px) {
	.technology-head{
     	font-size: 15px;
     	letter-spacing: 3px;
     }
}

@media screen and (max-width: 348px) {
   .technology .feature-head{
	  text-align: center;
	  font-size: 23px;
    }
}
