#contus-head{
  text-align: center;
  font-size: 25px;
  color: #5c3a90;
  padding-bottom: 5%;
}

#contactus{
  /*padding: 100px 400px 400px 400px;*/
  padding : 10% 33%;
  background: white;
}

#contactus-form-section {
  background-color: white;
  padding : 30px 135px;
  text-align: left;
}

#contactus-form-section label {
  color: #5c3a90;
  margin-bottom: 5px;
  margin-top: 15px;
}

#contactus-form-section input[type="submit"] {
  margin-top : 15px;
  margin-bottom: 20px;
}
#contactus-form-section h2,.contact-address h2,.contact-address h3,.contact-address h4,.contact-address b{
  color: #5c3a90;
}

@media (max-width: 767px) {
  #contactus-form-section {
      padding: 0 15px;
      background: white;
      margin : 0px 0px;
  }
  #vm-map {
    display: none;
    margin-top: 50px;
  }
}