/***********************************/
	/* Aboutus Css */
/***********************************/
.mn-img-section{
	height: 50px;
	width:50px;
	display: inline-block;
	font-size: 50px;
}
.mn-flex-section{
	display: flex;	
	justify-content: space-around;
	flex-wrap: wrap;
}

.section-warpper{
	margin-top: 0;
}

.section-warpper :nth-child(1){
	padding-top: 0px;
}

h5{
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.tile{
	padding: 0px 0;
}

.mn-flex-item{
	width:30%;
	text-align: center;
	margin: 20px;
	min-width: 400px;
	/*text-align-last: center;*/
}

.mn-flex-item p{
	text-align: justify;
	color: #777;
	font-size: 15px;
} 

.mn-item-heading{
	/*color:#280b4d;*/
	color: #5c3a90;
	font-weight: 500;
	font-size: 17px;
}

.mn-service-heading{
	font-size: 30px;
	padding-top: 30px;
	color: #5c3a90;
	margin: 0;
}



.vm-divide-screen{
	display: flex;
	align-items: center;
}

.vm-divide-screen >div{
	width: 50%;
	text-align: justify;
	padding : 10px 40px;
	/*border:1px dashed #eee;*/
}

.vm-services{
	display: flex;
	flex-wrap:  wrap;
	/*justify-content: space-around;*/
	justify-content: center;
	text-align: center;

}
/*#aboutus-container section{
	padding-top:0px;
	padding-bottom: 75px;
}*/
.vm-services > div{
	/*border : solid 1px red;*/
	/*min-width: 40%;*/
	margin: 20px;
	width: 30%;
	min-width:300px;
	text-align: center;
	box-shadow: 1px 1px 2px grey;
	padding: 20px;
	border: 1px solid #eee;
}

.vm-background-white{
	background-color: white;
}

ul{
	text-align: left;
}
.vm-make-middle {
	width: 50%;
    margin: auto;
    text-align: left;
    box-shadow: 1px 1px 1px grey;
    padding: 20px;
}

.vm-services p{
	font-size:13px;

}

.vm-small-font {
	font-size:13px;
}

.vm-medium-font {
	font-size: 16px;
}

.vm-third-section {
	padding-top:40px;
}

.vm-third-section .vm-heading {
	padding-bottom:20px;
}

.vm-third-section .tile{
	padding:40px 0 40px 0;
}

.vm-font-size-color {
	    font-size: 25px;
    color: #5c3a90;
}

.vm-third-section p {
	color: #777;
	font-size: 15px;
}

@media(max-width: 1024px) {
	.vm-font-size-color {
	    font-size: 20px;
	}
}

@media (max-width: 767px) {
	#aboutus-container {
		margin-top: 50px;
	}
	.img-container{
		width: 100%;
	}
	.text-container{
		width: 100%;
		text-align: justify;
	}
	.tile {
		flex-direction: column-reverse;
		/*display: block;*/
	}

	.section-warpper .tile:nth-child(even){
		flex-direction: column-reverse;
	}

	.vm-change-order div:nth-child(2) {
		order:1;
		width:100%;
	}
	.vm-change-order div:nth-child(1) {
		order:2;
		width:100%;

	}
	.vm-change-order div:nth-child(3) {
		order:3;
		width:100%;

	}
	.vm-change-order {
		flex-direction: column;
	}
	.section-warpper .tile:nth-child(odd) .text-container {
    	padding: 0px 20px 0px 20px;
	}
	.section-warpper .tile:nth-child(even) .text-container {
    	padding: 0px 20px 0px 20px;
	}

	.mn-item-heading {
	    text-align: center;
	}
}