/***********************************/
	/* Pricing Css */
/***********************************/

.am-table-heading > div{
	font-size: 20px !important;
	text-align: center;
	color: white;
	/*font-weight: bold;*/
	background: #5c3a90;
}

section.am-pricing-section{
	padding:70px 0;
	background: white;
	text-align: left;
	color: #777;
	/*display: flex;*/	
}

.am-admin-interface{
	width: 80%;
	padding: 0 2% 0 2%;
	margin: auto;
	margin-top: 8px;
}

.am-userInterface-website{
	width: 80%;
	padding: 0 2% 0 2%;
	margin: auto;
}

section.am-pricing-section .am-row-container{
	display: table;
	width: 100%;
	/*border-left: 20px solid white;
	border-top: 20px solid green;*/
	/*margin-bottom: 4px;*/
}

section.am-pricing-section .am-row-heading{
	background-color: #dcd7e5;
	margin-top: 8px;
	border-radius: 5px 0px 0 0;
}
section.am-pricing-section .am-table-cell{
	display: table-cell;
	/*border-bottom: 1px solid #a678ba;*/
	font-size: 12px;
	padding: 10px 10px;
}
section.am-pricing-section .am-row-description{
	width: 50%;
}
section.am-pricing-section .am-row-basic{
	width: 20%;
	/*background: white;*/
	/*border: 1px solid #bbb;*/
	text-align: center;
	/*border-left: none;*/
}
section.am-pricing-section .am-row-premium{
	width: 20%;
	/*background: white;*/
	/*border: 1px solid #bbb;*/
	text-align: center;
	/*border-left: none;*/
}
.am-tab-space{
	/*padding: 0 0 0 15px;*/
}
.am-row-level1{
	background: #ece7f5;
	border-top: 1px solid #eee;
}
.am-row-level1 .am-row-description{
	padding-left: 40px !important;
}
.am-row-level2{
	background: #f0f7f5;
}
.am-row-level2 .am-row-description{
	padding-left: 80px !important;
}
/*.am-userInterface-website{
	margin-top: 40px;
}*/

.am-row-description > div{
	color: #5c3a90;
	font-size: 15px;
	font-weight: bold;
	text-align: left; 
	/*border-bottom: 1px solid violet;*/
	padding: 10px;
	display: inline-block ;
}

.am-row-description :nth-child(2){
	float: right;
}

.am-table-cell .fa-check{
	color: green;
}

.am-table-cell .fa-times{
	color: red;
}
@media (max-width: 767px){
	.am-pricing-section {
		margin-top: 50px;
	}
	.am-admin-interface {
		margin-top: 5px;
	}
}
@media (max-width: 520px){
	.am-table-heading > div{
		font-size: 15px !important;
	}
	section.am-pricing-section{
		padding-top: 5px; 
	}
	section.am-pricing-section .am-row-heading{
		margin-top: 3px;
	}
	.am-admin-interface{
		width: 100%;
		padding: 0 10px;
	}
	.am-userInterface-website{
		width: 100%;
		padding: 0 10px;
	}
	.am-row-description > div{
		font-size: 13px;
		padding: 10px 0px;
		font-weight: 500;
	}
}
